<% if user_signed_in? && !@rides.empty? %>
  <table class="rides">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Location</th>
        <th>Tempo</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <% if @rides %>
        <% if @rides.length < 2 %>
          <tr>
            <td><%= link_to "#{ @rides.title }", ride_path(ride.id) %></td>
            <td><%= @rides.date %></td>
            <td><%= @rides.location %></td>
            <td><%= @rides.tempo %></td>
            <td><%= @rides.distance %></td>
          </tr>
        <% else %>
          <% @rides.limit(20).each do |ride| %> 
            <tr>
              <td><%= link_to "#{ ride.title }", ride_path(ride.id) %></td>
              <td><%= ride.date %></td>
              <td><%= ride.location %></td>
              <td><%= ride.tempo %></td>
              <td><%= ride.distance %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table> 
<% end %>
