<!DOCTYPE html>
<html>
  <head>
    <title>CyclingCompany</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>
      <% flash.each do |type, message| %>
        <%= "#{ type }: #{ message }!!" %> 
      <% end %>
    </div>
    <nav>
      <h1 class="welcome">Cycling Company</h1>
      <% if !user_signed_in? %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
      <% if user_signed_in? %>
        <h2 class="welcome">Welcome back, <%= current_user.name %>!</h2>
        <%= link_to "Add a new ride", new_user_ride_path(current_user) %>
        <%= link_to "Edit profile", edit_user_path(current_user) %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
